/* Use posicionamento relativo para posicionar os blocos conforme a imagem resultado_final.png. */

div.blue {
    position: relative;
    width: 100px;
    height: 200px;
    background-color: blue;
  }
  
  div.yellow {
    position: relative;
    top: -200px;
    left: 100px;
    width: 100px;
    height: 150px;
    background-color: yellow;
  }
  
  div.red {
    position: relative;
    left: 200px;
    top: -350px;
    width: 100px;
    height: 150px;
    background-color: red;
  }
  
  div.green {
    position: relative;
    top: -350px;
    left: 100px;
    width: 200px;
    height: 50px;
    background-color: green;
  }